
<!-- banner-v2 -->

<div class="banner-v2">
  <div class="banner-img">
    <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg4vyalqa9j30xc0kodif.jpg" />
  </div>
  <div class="banner-detail">
    <!-- <h2 class="banner-logo ">
      banke
    </h2> -->
    <div  class="banner-slogan">
      <h2>
        发现更多的美好的<span class="sub-slogan "> 东西</span>
      </h2>
    </div>
    <div class="sign-up-button">
        <a class="btn btn-default" href="/products"><i class="fa fa-hand-o-right">马上行动</i></a>
    </div>
  </div>
</div>


<!-- end of banner-v2 -->
<!-- our service and -->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>我们为您提供</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fddbzdtxiij312s122444.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>美好事物</h4><br />
          <p>为您甄选最优质商品</p>
          <p>免去您左顾右盼的烦恼  </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fddc60tgtij30kt0ia74n.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>酷炫科技</h4><br />
          <p></p>
          <p>从选购到使用，温暖相随</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fddckx30w7j30rj0rogmv.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>贴心服务</h4><br />
          <p>为您的宝贝穿上铠甲</p>
          <p>必定完璧送至您手中</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end of our service -->


<!-- customer feedback -->

<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>我们的铁粉说</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7qeb8dqvj307y07gq2v.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            在伴客购买杯子，绝对是我最棒的体验了<br>
            每个杯子都是外观美质量赞<br>
            喝水真得变成了一种享受，谢谢伴客～<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客小萌
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qed0swnj30b30alq32.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            自从买了伴客保温杯<br>
            现在外出旅游,带一壶水可以喝一整天<br>
            而且保温效果非常持久<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客强仔
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qee04w0j30b40b4jrj.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            平时是个杯子控<br>
            但每次要找到自己喜欢的都要花很多时间<br>
            很开心伴客解决了我的苦恼<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客晓琪
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end of customer feedback -->

<!-- call-to-action -->
<section class="push-box">
    <a class="btn btn-push" href="/products">立即選購</a>
  </section>


<!-- <div id="call-to-action">
  <div class="bottom-content">

    <div>
      <a class="btn btn-danger btn-lg" href="/products">马上购买 <i class='fa fa-arrow-right'></i></a>
    </div>
  </div>
</div> -->
<!-- end of call-to-action -->
