/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



//navbar导航栏开始
 .navbar-default {
     background-color: #212121;  //背景颜色

     border-color: #212121; //边框色

     margin-bottom: 0; //底部 margin 不撑开距离
 }

 @media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

  .navbar-default .navbar-brand {
    color: #FE0000; //字体颜色


    padding: 10px 15px; //上下10px，左右15px
    line-height: 30px; //文字行高
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {

    color: white; //鼠标放置在链接上的文字颜色

    background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
  }
   .navbar-default .navbar-nav > li > a{
     color: #9E9E9E; //字体颜色

   }

   .navbar-default .navbar-nav > li > a:hover,
   .navbar-default .navbar-nav > li > a:focus {
     color: white; //鼠标放置在链接上的文字颜色

     background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
   }
   .navbar-default .navbar-nav > .active > a,
   .navbar-default .navbar-nav > .active > a:hover,
   .navbar-default .navbar-nav > .active > a:focus {
     color: white; //鼠标放置在链接上的文字颜色

     background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明

   }

   .navbar-default .navbar-nav > .open > a,
   .navbar-default .navbar-nav > .open > a:focus,
   .navbar-default .navbar-nav > .open > a:hover {
     background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明

     color: white; //鼠标放置在链接上的文字颜色

   }
   // 导航栏结束


   .show-box {
      /* 区块 */
       background-color: #f8f8f8;
       text-align: center;
       padding: 50px 0 50px 0;


       .short-line {
          background: #0070DE;
          margin: 15px auto 30px auto;
          width: 150px;
          height: 1.5px;
      }

      /* 图片区块 */
     .box {
        margin-top: 15px;
        box-shadow: 2px 2px 5px #888;
       width: 100%;
      }
      img {

       height: 160px;
       width: 160px;


   }

      /* 图片区块-鼠标滑动效果 */
      .box:hover {
        opacity: 0.6;
      }

      /* 文字区块 */
      .content {
        margin-top: 15px;
        color: #000;
      }
    }
   //  推荐商品

   //product index

.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  /* 广告图 */
    .intro-box {
      text-align: center;

      img {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }

    /* 商品类型 & 品牌选单 */
    .menu-box {

    }

    /* 页面路径 & 排序  */
    .path-sort-box {
      text-align: left;
      height: 20px;

      .left-box {
       float: left;
      }

      .right-box {
        float: right;

        button {
          margin: -15px 0 -15px 0;
          padding: 7.5px 10px 7.5px 10px;
          border: 2px solid #666;
          color: #333;
        }

        button:focus {
          background-color: #fff;
          color: #333;
        }

        ul {
          margin-top: 15px;
        }
        .box:hover {
          opacity: 0.6;
        }
      }
    }

}

 //product index
