// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// <!-- end of banner-v2 我也不知道什么意思，抄的-->
.banner-v2 {
    margin-top: 0px;
    height: 480px;
    .banner-img {
        // height: 480px;    //这一行代码定义图片的高度。
        position: relative;
        z-index: 1;
    }
    .banner-img img {
    width: 100%;
    opacity: 0.95;   //这行代码定义了图片的不透明度“opacity”，0指的是全透明，会变成白色，看度到图片了，1指的是和原图一样。“by fish”
    height: 100%;
}
 .banner-detail {
    margin-top: -480px;
    padding-top: 0px;
    height: 460px;
    position: relative;
    z-index: 10;
}
.banner-detail .banner-slogan {
    position: relative;
    color: #fff; //  定义“show出你的格调”的默认颜色，不过这里定义的字体默认颜色可以通过在welcome／index.html.erb页面修改。 “by fish”
    margin-top: 120px;
    margin-left: 30%;
    font-weight: 400;
    width: 400px;
}
.banner-detail .sub-slogan {
    margin-top: 40px;
    padding-right: 40px;
    font-size: 50px;  //定义“格调”两个字体的大小
}
.banner-detail .sign-up-button {   //这一段定义了“懂你的好”这个按钮的位置 “by fish”
    margin-left: 35%;
    position: absolute;
    height: 80px;
    margin-top: 30px;
    width: 10%;
}
a {
 background-color: #F2FC99;   //定义了“懂你的好”这个框的背景se。  “by fish”
}
.banner-v2 .banner-detail .btn-default {
    background: #e6b254;
    color: #fff;
    height: 50px;
    width: 150px;
    padding-top: 7px;
    font-size: 24px;
    border: 1px solid #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}
// <!-- end of banner-v2 -->




//  service and 我也不知道什么意思，抄的


#service {
    padding-bottom: 50px;
    background-color: #fff; //这定义service模块的背景色，service模块就是”小图和文字部分的区域“ ，介于首页大图和bigshow区间。“by fish”
    padding-top: 20px;

    .module-name {
    margin-top: 45px;
    margin-bottom: 45px;
    color:  #E8591F;  // 这定义的是service模块标题的字体颜色 “美好的选择show给有格调的你”  “by fish”
    text-align: center;
    font-size: 0;
}
.module-name.decorative span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.text-center {
    text-align: center;
}
.service-item-img .round-image-160 {
    background-color: white;  // 这个不知道什么，我尝试改了几次美变化，猜可能是小图背后的背景色，由于在小图后面，而小图又不透明，所以改了也没反应。 “by fish”
    border: 1px solid #faf6ec; // 这定义了service模块中三个小图边框线条颜色  “by fish”
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    height: 160px;
    width: 160px;
    overflow: hidden;
    text-align: center;
}
}

//service

//customer-feedback 我也不知道什么意思，抄的
//这里我明白是那个区域，这对应首页的顾客反馈区域 “by fish”
#customer-feedback {
    padding-bottom: 50px;
    background-color:#eeeeee;  //定义顾客反馈区域的背景颜色 “by fish”
    padding-top: 20px;


    .row {
    margin-left: -15px;
    margin-right: -15px;
}
.module-name {
    margin-top: 45px;
    margin-bottom: 45px;
    color: rgba(0, 0, 0, 0.5);  //定义顾客反馈区域标题颜色 “有格调的人说” “by fish”
    text-align: center;
    font-size: 0;
}
.module-name.decorative span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.text-center {
    text-align: center;
}
.fd-avatar-box {
    border: 4px solid #faf6ec;  //定义顾客头像边框线条颜色  “by fish”
    border-radius: 168px;
    width: 83px;
    height: 83px;
    background-color:  #faf6ec; //定义顾客头像后面的背景颜色，确定！  “by fish”
    position: relative;
    z-index: 14;
    margin: 0 auto;
}
#customer-feedback .col-md-4 .quote-box-1 {
    padding: 30px 30px;
    background-color: #faf6ec;
    color: rgba(0, 0, 0, 0.5);
    line-height: 2em;
    border: 4px solid #faf6ec;
    margin-top: -41px;
    position: relative;

}
.fd-avatar-box .round-image-74 {
    background-color: white;
    border: 1px solid #faf6ec;
    border-radius: 37px;
    -moz-border-radius: 37px;
    -webkit-border-radius: 37px;
    height: 74px;
    width: 74px;
    overflow: hidden;
    text-align: center;
}

#customer-feedback .col-md-4 .quote-box-1 .fa {
    color: #faf6ec;
}
}
//customer-feedback


//call-to-action
#call-to-action{
.push-box {
    text-align: center;
    padding: 75px 0 0 0;
    height: 200px;
    background: url(https://ww2.sinaimg.cn/large/006tNbRwgy1fgg8tusmzzj31kw0avdlc.jpg) no-repeat scroll top center/cover;

 .btn-push {
    background-color: #E8591F;
    color: #fff; //文字颜色
    border-color:#fff;  //按钮边框颜色
    padding: 10px 20px;
    font-size: 20px;
}
}
}
//call-to-action
